doctype html
html
  head
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    link(rel='stylesheet', href='styles/newtab.css')
    title UnTab
  body
    div#mainbody
    div#footerbody
      div Suyash Katiyar
    script(src='newtab.js')
